.metrics-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.metrics-card {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 100px; 

  .active-users-title {
    font-size: 1rem;
    font-weight: 500;
  }

  .active-users-value {
    font-size: 1.2rem;
    font-weight: 600;
  }

  &.custom-card {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: none;
  }
}

.custom-card {
  box-shadow: none !important;
}