.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: 100vh;
  background-color: var(--color-sidebar-bg);
}

.container {
  flex-grow: 1;
  margin-top: 0 !important;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 240px;

  & > .logo {
    width: 180px;
    margin-bottom: 10px;
  }

  & > .title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-dark);
    margin-bottom: 20px;
  }

  & > .list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: left;

    & > .item {
      color: var(--color-dark);
      border: none;
      outline: none;
      width: 230px;
      background-color: var(--color-sidebar-bg);
      display: flex;
      align-items: center;
      text-align: start;
      transition: all 0.25s ease-in-out;
      margin: 0;
      border-radius: 10px;

      & > .icon > svg {
        color: var(--color-primary);
        transition: color 0.3s;
      }

      &:hover {
        background-color: var(--color-accent);
        color: var(--color-primary);

        & > .icon > svg {
          color: var(--color-primary);
        }
      }

      &.selected {
        background-color: var(--color-accent);
        color: var(--color-primary);

        & > .icon > svg {
          color: var(--color-primary);
        }
      }
    }
  }
}

.footer {
  border-top: 1px solid #e5e5e5;
  text-align: start;
  padding: 1rem;
  margin-top: auto;

  & > h3,
  & > p {
    color: #000000;
    margin: 0 0 0.5rem 1rem;
  }
}

.toggleButton {
  align-self: flex-end;
  margin: 5px;
  &.centered {
    align-self: center;
  }
}

.hidden {
  display: none;
}

.drawer {
  flex-shrink: 0;

  &.closed .MuiDrawer-paper {
    width: 60px;
  }

  &.open .MuiDrawer-paper {
    width: 240px;
  }

  & .MuiDrawer-paper {
    box-sizing: border-box;
    background-color: var(--color-sidebar-bg);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    transition: width 0.3s;
  }
}

@media (max-width: 1300px) {
  .sidebar {
    font-size: 0.8rem;
  }

  .container {
    .icon {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    font-size: 0.6rem;
  }

  .container {
    .icon {
      font-size: 1.2rem;
    }

    .selected {
      font-size: 0.6rem;
    }
  }
}