.wrapper {
  margin-top: 5rem;
  font-family: var(--font-family-master);
  width: 60%;
  & > .title {
    & > h1 {
      font-size: 48px;
      margin-bottom: 1rem;
    }
    & > p {
      font-size: 18px;
      margin-bottom: 1rem;
      color: #8692a6;
      line-height: 30px;
    }
  }
  & > hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
  }
  & > .content {
    & > form {
      & > .input-group {
        & > .input-box {
          margin-bottom: 2rem;
          position: relative;
          & > .input {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            & > .label {
              font-size: 14px;
              color: #8692a6;
            }
            & > input {
              font-size: 16px;
              padding: 1rem;
              border: 1px solid #000000;
              border-radius: 4px;
              background-color: #ffffff;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
              transition: all 0.3s ease-in-out;
              &:focus {
                outline: none;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
              }
            }
          }
          & > .password {
            position: relative;
            & > .icon {
              position: absolute;
              top: 70%;
              right: 5%;
              transform: translateY(-50%);
              font-size: 20px;
              color: #8692a6;
              cursor: pointer;
            }
          }
          & > .error-message {
            position: absolute;
            font-size: 12px;
            color: #ff0000;
            margin-top: 0.5rem;
          }
        }
      }
      & > .button-remember-me {
        margin-top: 1rem;
        &>.checkbox-wrapper-28 {
          --size: 25px;
          position: relative;
        }

        &>.checkbox-wrapper-28 *,
        &>.checkbox-wrapper-28 *:before,
        &>.checkbox-wrapper-28 *:after {
          box-sizing: border-box;
        }

        &>.checkbox-wrapper-28 .promoted-input-checkbox {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        &>.checkbox-wrapper-28 input:checked ~ svg {
          height: calc(var(--size) * 0.6);
          -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
          animation: draw-checkbox-28 ease-in-out 0.2s forwards;
        }
        &>.checkbox-wrapper-28 label:active::after {
          background-color: #e6e6e6;
        }
        &>.checkbox-wrapper-28 label {
          color: #000000;
          line-height: var(--size);
          cursor: pointer;
          position: relative;
          font-size: 16px;
        }
        &>.checkbox-wrapper-28 label:after {
          content: "";
          height: var(--size);
          width: var(--size);
          margin-right: 8px;
          float: left;
          border: 2px solid #0080d3;
          border-radius: 3px;
          transition: 0.15s all ease-out;
        }
        &>.checkbox-wrapper-28 svg {
          stroke: #0080d3;
          stroke-width: 3px;
          height: 0;
          width: calc(var(--size) * 0.6);
          position: absolute;
          left: calc(var(--size) * 0.21);
          top: calc(var(--size) * 0.2);
          stroke-dasharray: 33;
        }
      }
      &>.button-submit{
        margin-top: 3rem;
        width: 100%;
        padding: 20px;
        border: none;
        background-color: #BAE5FB;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        color: #000000;
        font-size: 20px;
        transition: all 0.1s ease-in-out;
        box-shadow: 4px 4px 4px rgba(0, 0, 0,0.5);
        text-transform: uppercase;
        &:active{
            transform: translate(4px,4px);
            box-shadow: none;
        }
      }
    }
    &>.text-helper{
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #696F79;
        &>a{
            text-decoration: none;
            color: #3EC1F3;
        }
    }
  }
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
