.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > button {
    margin-right: 2rem;
    background-color: rgba(26, 115, 232, 10%);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    & > span {
      color: #1a73e8;
    }
    &:hover {
      box-shadow: rgba(26, 115, 232, 10%) 0px 1px 4px,
        rgba(26, 115, 232) 0px 0px 0px 3px;
    }
  }
}

.table {
  padding: 0 20px;
}

.section-variable {
  & > table > tbody > tr > td:first-child {
    color: #2974ff;
  }
}
