.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  overflow: hidden;

  .fill {
    justify-items: left;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 240px;
    min-height: 50px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>'); /* Mũi tên */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
}

@media (max-width: 1300px) {
  .filters {
    .fill {
      min-width: 180px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .filters {
    flex-wrap: wrap;
    justify-content: space-between;

    .fill {
      min-width: 48%;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;

    .fill {
      min-width: 100%;
      font-size: 12px;
    }
  }
}

@media (max-width: 576px) {
  .filters {
    .fill {
      min-width: 100%;
      font-size: 11px;
      padding: 8px 10px;
    }
  }
}