.header {
  background-color: rgba(244, 247, 252, 0.75);
  padding: 1rem 30px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  & > .box-left {
    display: flex;
    gap: 1rem;
    align-items: center;
    & > .input {
      width: 400px;
    }
  }
  & > .box-right {
    display: flex;
    gap: 2rem;
    align-items: center;
    & > button {
      font-size: 16px;
    }
    & > .back-btn {
      border-radius: 20px;
    }
    & > .download-btn {
      color: #000000;
      & > svg {
        margin-right: 0.5rem;
        font-size: 1em;
      }
    }
  }
}
.title {
  text-align: center;
  margin: 2rem 0 1rem;
  & > h1 {
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    text-align: center;
    & > h1 {
      font-size: 25px;
    }
  }
  .header {
    & > .box-left {
      & > .btn-filter {
        & > svg {
          font-size: 18px;
        }
      }
      & > .input {
        width: 200px;
        & > div > input {
          font-size: 12px;
        }
      }
    }
    & > .box-right {
      gap: 1rem;
      & > button {
        font-size: 12px;
        & > svg {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
    & > h1 {
      font-size: 20px;
    }
  }
  .header {
    padding: 12px 20px;
    & > .box-left {
      gap: 0.5rem;
      & > .btn-filter {
        & > svg {
          font-size: 15px;
        }
      }
      & > .input {
        width: 100px;
        & > div > input {
          font-size: 10px;
        }
      }
    }
    & > .box-right {
      gap: 0.5rem;
      & > .back-btn {
        padding: 5px 12px;
      }
      & > button {
        font-size: 10px;
        & > svg {
          font-size: 1em;
        }
      }
    }
  }
}
