.table-container {
    margin-top: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;

    @media (max-width: 1200px) {
        margin-top: 14px;
    }

    @media (max-width: 992px) {
        margin-top: 12px;
    }

    @media (max-width: 768px) {
        margin-top: 10px;
    }

    @media (max-width: 576px) {
        margin-top: 8px;
    }

    @media (max-width: 470px) {
        margin-top: 6px;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-head {
    background-color: var(--color-secondary);
}

.table-head-cell {
    font-weight: bold;
    color: var(--color-dark);
    padding: 12px;
    font-size: 1rem;

    @media (max-width: 1200px) {
        padding: 10px;
        font-size: 0.95rem;
    }

    @media (max-width: 992px) {
        padding: 8px;
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        padding: 6px;
        font-size: 0.85rem;
    }

    @media (max-width: 576px) {
        padding: 4px;
        font-size: 0.8rem;
    }

    @media (max-width: 470px) {
        padding: 2px;
        font-size: 0.75rem;
    }
}

.table-body-row {
    &:nth-of-type(odd) {
        background-color: var(--color-secondary);
    }

    &:nth-of-type(even) {
        background-color: #fff;
    }

    &:hover {
        background-color: var(--color-accent);
    }
}

.table-body-cell {
    padding: 12px;
    color: #555;
    font-size: 1rem;

    @media (max-width: 1200px) {
        padding: 10px;
        font-size: 0.95rem;
    }

    @media (max-width: 992px) {
        padding: 8px;
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        padding: 6px;
        font-size: 0.85rem;
    }

    @media (max-width: 576px) {
        padding: 4px;
        font-size: 0.8rem;
    }

    @media (max-width: 470px) {
        padding: 2px;
        font-size: 0.75rem;
    }
}

.checkbox-cell {
    padding: 0 12px;
    size: 3rem;

    @media (max-width: 1200px) {
        padding: 0 10px;
    }

    @media (max-width: 992px) {
        padding: 0 8px;
    }

    @media (max-width: 768px) {
        padding: 0 6px;
    }

    @media (max-width: 576px) {
        padding: 0 4px;
    }

    @media (max-width: 470px) {
        padding: 0 2px;
    }
}
