.section-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    &>.button{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 18px;
        border: 1px solid #EFF0F6;
        background-color: #ffffff;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        }
    }
}

.section-table{
    padding: 0 20px;
    &>table{
        &>thead>tr>th{
            border-bottom: none;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 80%;
                height: 1px;
                border-bottom: 1px solid #e0e0e0;
                bottom: 0;
                left: 5%;
            }
        }
        &>tbody>tr{
            &>td{
                border: none;
            }
            &>td:last-child>span{
                padding: 5px 15px;
                background-color: #95fc9c;
                border-radius: 5px;
                &.active{
                    background-color: #fbec78;
                }
            }
        }
    }
}